.container{
    height: 100%;
    width: 100%;
}
.maindiv{
clear:left;
}
.topdiv{
    width: 20%;
    height: 2%;
    float:left;
    border:1px solid;
}
.subdiv{
    width:20%;
    height: 200px;
    float:left;
    border:1px solid;
}
img{
    width:50%;
    Height:90%;
}

